{% extends "basis/base.html" %}
{% load static %}
{% block title %}Магазин Туда-Сюда{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static '/shop/css/shop.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'shop/js/shop.js'%}"></script>
{% endblock %}

{% block content %}
    <nav class="navbar fixed-top">
        <div class="container-fluid">
            <div class="col-12 text-right">
                <button type="button" class="btn btn-success btn-sm font-weight-bolder font-italic mr-4" id="basket">
                  Корзина</button>
                <button type="button" class="btn btn-info btn-sm font-weight-bolder font-italic" id="exit">
                  Выход</button>
            </div>
        </div>
    </nav>
    <div class="container mt-5" id="123">
        <div class="row row-cols-1 row-cols-md-3">
            {% for value in product_all %}
                <div class="col-md-3 mt-3">
                    <div class="card h-100 w-100">
                        <div class="card-header bg-transparent border-success">Код: {{ value.0 }}</div>
                        <div class="card-body">
                            <h5 class="card-title">{{ value.1 }}</h5>
                            <p class="card-text">Цена: {{ value.2 }} руб.</p>
                        </div>
                        <div class="card-footer border-success">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" value="{{ value.0 }}" id="{{ value.0 }}">
                                <label class="h6 form-check-label text-success px-2" for="{{ value.0 }}">
                                  В корзину</label>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
